@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

/*********************/
/***  HEADER  ***/
/*********************/

.section-header {
	background-image: 
		linear-gradient(rgba(0, 0, 0, .7), 
			rgba(0, 0, 0, .7)), url('https://upload.wikimedia.org/wikipedia/commons/d/de/Wikipedia_Logo_1.0.png');
	background-attachment: fixed;
	background-size: cover;
	height: 80vh;
	background-position: cover;
	margin-bottom: 40px;
}

.flex-box-header, .flex-box-row {
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.flex-box-header {
	height:80vh;
}

h1 {
	font-size: 5em;
	color:#fff;
	letter-spacing: 3px;
}

/*********************/
/*** SEARCH SECTION  ***/
/*********************/

.section-search {
	padding-bottom: 20px;
}

.form-input {
	width:200px;
	padding:10px;
	border: .5px solid gray;
	border-radius:10px;
	font-family: 'Lato', 'Arial', sans-sarif;
}

.btn {
	border:none;
	padding:10px;
	border-radius:10px;
	font-weight: bold;
	letter-spacing: 2px;
}

.random-btn {
	margin:0 auto;
	/*margin-left:20px;*/
	background-color:#f1c40f;
	color:#fff;
	
}

.elem-space form, .elem-space a { 
	margin:10px;

 }
/*********************/
/***  RESULTS DISPLAY SECTION  ***/
/*********************/

.section-results {
	background-color: #f2f2f2;	
	margin-top:20px;
}

.results-div {
	padding:0 5%;
	padding-bottom: 30px;
	margin:0 auto;
	
}

.results-div h3 {
	font-family: 'Montserrat', sans-sarif;
	letter-spacing: 2px;
}

.results-snippet {
	font-family: 'Lato', sans-sarif;
	margin-bottom: 20px;

}

.results-link a {
	text-decoration: none;
	font-weight:bold;
	color:#f1c40f;
}

.sep {
	border: .5px solid black;
	margin:0 40%;
	margin-top:30px;
}


/*********************/
/***  FOOTER  ***/
/*********************/

.section-footer {
	margin-top: 20px;
	padding:20px;
	background-color: #333333;
}

.section-footer i, .section-footer a {
	display:block;
	color:#fff;
	font-weight:bold;
	letter-spacing: 1px;
	word-spacing: 1px;
	font-size: .9em;
	margin-top:10px;
}

.section-footer a {
	text-decoration: none;
}

.section-footer a:hover, .section-footer i:hover {
	color:#f1c40f;
}